################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZeuxAngularJsWebApp/bin/Debug/netcoreapp2.2
/ZeuxAngularJsWebApp/obj
